@model MovieAppCore.Entity.Models.UserInfo

<form method="post">
    <div class="form-group">
        <label for="Firstname">Firstname</label>
        <input type="text" class="form-control" asp-for="Firstname">
    </div>
    <div class="form-group">
        <label for="Firstname">Lastname</label>
        <input type="text" class="form-control" asp-for="Lastname">
    </div>
    <div class="form-group">
        <label for="Firstname">Email</label>
        <input type="text" class="form-control" asp-for="Email">
    </div>
    <div class="form-group">
        <label for="Firstname">Password</label>
        <input type="text" class="form-control" asp-for="Password">
    </div>
    <div class="form-group">
        <label for="Firstname">Mobile</label>
        <input type="text" class="form-control" asp-for="Mobile">
    </div>
    <input type="submit" class="btn btn-primary" value="Register">
    <button type="button" class="btn btn-secondary">Reset</button>
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
    <hr />
    <a asp-controller="User" asp-action="Login">Login</a>
</form>
