@model MovieAppCore.Entity.Models.Movie
@{
    ViewData["Title"] = "EditMovie";
}

<h1>EditMovie</h1>
<hr />
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Movie Name</label>
        <input type="text" asp-for="MovieName" class="form-control" 
        placeholder="enter movie name" required />
    </div>
    <div class="form-group">
        <label>Movie Description</label>
        <input type="text" asp-for="MovieDescription" class="form-control" 
        placeholder="enter movie desc" required />
    </div>
    <div class="form-group">
        <label>Movie Type</label>
        <input type="text" asp-for="MovieType" class="form-control" placeholder="enter movie type" required />
    </div>
    <div class="form-group">
        <label>Movie Language</label>
       <select asp-for="MovieLanguage" asp-items="@ViewBag.languagelist"></select>
    </div>
    <div class="form-group">
        <label>Movie Poster</label>
        <input type="file" id="poster" name="poster"  class="form-control" required />
    </div>
    
    <input type="submit" value="Save" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>

