@model MovieAppCore.Entity.Models.Movie


<form method="post" enctype="multipart/form-data">
    <h2>Movie Entry</h2><hr />
    <div class="form-group">
        <label>Movie Name</label>
        <input type="text" asp-for="MovieName" class="form-control" placeholder="enter movie name" required />
    </div>
    <div class="form-group">
        <label>Movie Description</label>
        <input type="text" asp-for="MovieDescription" class="form-control" placeholder="enter movie desc" required />
    </div>
    <div class="form-group">
        <label>Movie Type</label>
        <input type="text" asp-for="MovieType" class="form-control" placeholder="enter movie type" required />
    </div>
    <div class="form-group">
        <label>Movie Language</label>
        <input type="text" asp-for="MovieLanguage" class="form-control" placeholder="enter movie language" required />
    </div>
    <div class="form-group">
        <label>Movie Poster</label>
        <input type="file" id="poster" name="poster"  class="form-control" required />
    </div>
    <input type="submit" value="Save" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>

@*<hr />
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="button" class="btn btn-primary" asp-controller="User" asp-action="Login">Login</button>
    <button type="button" class="btn btn-secondary">Reset</button>
</form>*@

