@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to my movie show</h3>
    <hr />
</div>


<div class="row">
    @*should be 12 based column*@
    <div class="col-4">
        <div class="card">
            <img src="~/img/et00062705-demctcsgsd-portrait.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">KGF</h5>
                <p class="card-text">content.</p>
                <a href="#" class="btn btn-primary">Book</a>
            </div>
            
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="~/img/et00062705-demctcsgsd-portrait.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">KGF</h5>
                <p class="card-text">content.</p>
                <a href="#" class="btn btn-primary">Book</a>
            </div>

        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="~/img/et00062705-demctcsgsd-portrait.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">KGF</h5>
                <p class="card-text">content.</p>
                <a href="#" class="btn btn-primary">Book</a>
            </div>

        </div>
    </div>
</div>
<div class="row">
    @*should be 12 based column*@
    <div class="col-4" >
        <div class="card">
            <img src="~/img/et00062705-demctcsgsd-portrait.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">KGF</h5>
                <p class="card-text">content.</p>
                <a href="#" class="btn btn-primary">Book</a>
            </div>

        </div>
    </div>
    <div class="col-4" >
        <div class="card">
            <img src="~/img/et00062705-demctcsgsd-portrait.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">KGF</h5>
                <p class="card-text">content.</p>
                <a href="#" class="btn btn-primary">Book</a>
            </div>

        </div>
    </div>
    <div class="col-4" >
        <div class="card">
            <img src="~/img/et00062705-demctcsgsd-portrait.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">KGF</h5>
                <p class="card-text">content.</p>
                <a href="#" class="btn btn-primary">Book</a>
            </div>

        </div>
    </div>
</div>
@*1.. Container  or Container-fluid
2. Grid system - Row and column*@
@*--------------------------------------------------------------------------------------------------*@


